# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Matches multiple files with brace expansion notation
[*.{hx,c,h}]
charset = utf-8
indent_style = tab
indent_size = 4